.poppins{
    font-family: "Poppins", sans-serif;
}

.cairo{
    font-family: "Cairo", sans-serif;
}

header{
    background-image: url("./images/bg.png");
}


body, button, select, form, input, textarea, a, section{
    font-family: "Cairo",sans-serif;
}




